@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-4xl {
  max-width: 100rem;
}
/* Optional: Additional custom styles */
.nav-link {
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #4a4a4a; /* Gray-600 */
}
